{% extends "templates/base.html" %}

{% block body %}
<p>人CoDOM은 위키(Wiki)기반의 커뮤니티 형성을 통한 <strong>생물정보 분야의 집단 지성 창출</strong>을 목적으로 운영되는 지식 커뮤니티로 생물정보 지식의 관리와 공유를 통한 범국가적 네트워크 형성 및 공유와 협업 기반의 지식생산 문화 전파를 목표로 하고 있습니다.</p>

<div class="home-menu-wrapper">
    <a class="home-menu no-margin-left" href="/About">
        <img src="http://insilicogen.com/wikiattach/TempDownload/attachments/about.png">
    </a>

    <a class="home-menu" href="/List">
        <img src="http://insilicogen.com/wikiattach/TempDownload/attachments/list.png">
    </a>

    <a class="home-menu" href="/Suggest">
        <img src="http://insilicogen.com/wikiattach/TempDownload/attachments/suggest.png">
    </a>

    <a class="home-menu no-margin-left" href="/Policy">
        <img src="http://insilicogen.com/wikiattach/TempDownload/attachments/policy.png">
    </a>

    <a class="home-menu" href="/Q&A">
        <img src="http://insilicogen.com/wikiattach/TempDownload/attachments/qna.png">
    </a>

    <a class="home-menu" href="/sp.changes">
        <img src="http://insilicogen.com/wikiattach/TempDownload/attachments/changes.png">
    </a>
</div>
{% endblock %}
